/* Footer Styles */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
}

footer p {
    margin: 0;
    font-size: 0.9em; /* Adjust font size if needed */
}
