/* Header Styles */
header {
    background-color: transparent;
    color: #383838;
    padding: 10px;
    text-align: center;
}

/* Text styles */
.text {
    display: inline-block;
    transition: color 0.5s, text-shadow 0.5s;
}

#textBox {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    line-height: 150%;
    font-variant: small-caps;
    font-family: 'Audiowide';
    font-size: calc(5px + 4vw);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Headings and Paragraphs */
h2, h4, p {
    color: aliceblue; /* Fully opaque color */
}

section {
    padding: 20px;
    margin: 10px;
    text-align: left;
    color: aliceblue; /* Fully opaque text color */
}
