
/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Audiowide');


/* Prevent horizontal scrolling */
html{
    overflow-x: hidden;
}

/* bg color  */
body {
    background-color: RGB(24, 25, 26);
}

/* header style  */
#textBox {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    line-height: 150%;
    font-variant: small-caps;
    font-family: 'Audiowide';
    font-size: calc(5px + 4vw);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Circular Image Styles */
.circular-img {
    width: 70%;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid transparent;
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    margin: 0 auto;
    animation: glowing-border 1.5s infinite;
}

.circular-img img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
    animation: pop-in-out 2s infinite;
}

/* Glowing Border Animation for img */
@keyframes glowing-border {
    0% {
        box-shadow: 0 0 5px rgba(50, 50, 255, 0.5);
    }

    25% {
        box-shadow: 0 0 10px rgba(50, 50, 255, 1);
    }

    50% {
        box-shadow: 0 0 15px rgba(255, 0, 255, 0.5);
    }

    75% {
        box-shadow: 0 0 20px rgba(255, 0, 255, 1);
    }

    100% {
        box-shadow: 0 0 5px rgba(50, 50, 255, 0.5);
    }
}

/* Image Animation inside image */
@keyframes image-animation {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.05);
        /* Scale slightly up */
    }
    
    100% {
        transform: scale(1);
    }
}
@keyframes pop-in-out {
    
    0%,
    100% {
        transform: scale(1);
        /* Normal size */
    }
    
    50% {
        transform: scale(1.1);
        /* Slightly zoomed in */
    }
}


/* footer */

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
}

footer p {
    margin: 0;
    /* font-size: 0.9em; */
    /* Adjust font size if needed */
}