body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    line-height: 1.7;
    color: #383838;
}

header {
    background-color: transparent;
    color: #383838;
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px;
}

h2 {
    font-size: 3em;
    color: #383838;
}

h4 {
    color: #383838;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


@keyframes glowing-border {
    0% {
        box-shadow: 0 0 5px rgba(50, 50, 255, 0.5); /* Dark Blue */
    }
    25% {
        box-shadow: 0 0 10px rgba(50, 50, 255, 1); /* Bright Dark Blue */
    }
    50% {
        box-shadow: 0 0 15px rgba(255, 0, 255, 0.5); /* Dark Magenta */
    }
    75% {
        box-shadow: 0 0 20px rgba(255, 0, 255, 1); /* Bright Dark Magenta */
    }
    100% {
        box-shadow: 0 0 5px rgba(50, 50, 255, 0.5); /* Dark Blue */
    }
}
.circular-img {
    width: 70%;
    max-width: 200px;
    height: 200px; 
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid transparent;
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    margin: 0 auto;
    animation: glowing-border 1.5s infinite alternate;
    background: transparent; /* Or a solid color if you want */
}


/* Responsive for small screens */
@media(max-width: 768px) {
    .circular-img {
        position: relative;
        right: 0;
        margin-top: 20px;
        width: 50%; /* Adjust size for small screens */
        height: auto; /* Maintain aspect ratio */
    }
}
.circular-img img {
    width: 100%;
    height: auto;
}
